<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/leaflet.css">
    <title>Inicio</title>
</head>
<body>
<!--<p>Visita el <a href="catalog">catálogo</a> de productos</p>-->
  <header id="particulas">
      <nav role="navigation">
        <h1>Hola qie tsl</h1>

      </nav>
      <h1>Eventos Mundiales</h1>
      <img src="/images/mapa_header.png" alt="mapa_header" class="mapa_header">
  </header>

  <section>
      <div id="map"></div>
  </section>
  <aside>

  </aside>
  <footer>

  </footer>
  <script src="/js/app.js"></script>
</body>
</html>